# general
assets/**
build/**
build_*/**
thirdparty/build/**
thirdparty/port/**
!thirdparty/port/cocos2d-x/cocos/platform/android/jni/TouchesJni.cpp
!thirdparty/port/cocos2d-x/cocos/platform/android/java/src/org/cocos2dx/lib/Cocos2dxGLSurfaceView.java
thirdparty_*.tar.gz
.vscode/settings.json
.slim/deepwork/

# android
local.properties
sign.properties
project/onsyuri_android/.gradle
project/android/local.properties
project/android/.idea/caches/**
project/android/.idea/modules/**
project/android/.idea/libraries/**
project/android/.idea/modules.xml
project/android/.idea/workspace.xml
project/android/.idea/navEditor.xml
project/android/.idea/assetWizardSettings.xml
project/android/.idea/deploymentTargetDropDown.xml
project/android/.idea/inspectionProfiles
project/android/app/.cxx/**
project/android/app/debug/**
project/android/app/release/**
project/android/.project
project/android/.settings/
kimiyume
.serena
# Android profiler
*.hprof

# Script build artifacts
script/CMakeCache.txt
script/CMakeFiles/
script/Makefile
script/cmake_install.cmake
script/src/
